<div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-sm-8">
      <h1>Event Search</h1>
    </div>
    <div class="col-sm-4 text-right">
      {{input type="text" value=keywords placeholder="What are you looking for?"}}
      <button onclick={{action "searchForEvents"}}>Search</button>
    </div>
  </div>
  {{outlet}}
</div>
