<div class="row">
  <div class="col-sm-12">
    <p>{{model.length}} search results</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      {{#each model as |event|}}
        <li class="list-group-item">
          {{#link-to "events.event" event.id}}
            {{event.city_name}}, {{event.country_name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
